/* ----------------------------------------------------------------------------
    Project Styles
----------------------------------------------------------------------------- */
html {
    min-height: 100%;
    position: relative;
}
body {
    font-family: 'Open Sans', 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
    color: #444;
    background-color: #56A8E3;
    background: linear-gradient(45deg, #23A6D5, #23D5AB);
    /* background-image: linear-gradient(to right top, #164ea2, #0081d1, #00aec3, #00d37f, #a8eb12); */
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
    overflow-y: scroll;
}
.container {
    max-width: 1200px;
}
.container-fluid.but-fixed {
    max-width: 1230px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    flex-flow: column nowrap; !important;
}
.navbar-dark {
    background-color: #000 !important;
}
.navbar-brand {
    margin: 0 auto;
    font-weight: 600;
}
form.add-button {
    width: 100%;
    justify-content: center !important;
}
form.add-button input {
    width: calc(100% - 10px) !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
    border: 0 !important;
    color: #fff !important;
    border-bottom: 1px solid #777 !important;
    border-radius: 0;
    background: transparent !important;
}
form.add-button input:focus {
    box-shadow: none;
}
form.add-button button {
    width: 150px !important;
    border: 0;
}

.powered-by {
    display: none;
}
#buttons-container {
    margin-bottom: 20px;
}
#buttons-container button {
    display: inline-block;
    margin: 5px 5px 5px 0 !important;
}
.card-columns {
    column-count: 1;
}
.card-columns .card {
    margin-bottom: 1.3rem;
}
.card-columns .card img {
    cursor: pointer;
}
.card-columns .card .gif-wrap {
    position: relative;
}
.card-columns .card .gif-wrap:hover:after {
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}
.card-deck .card {
    flex: 1 0 100%;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
    width: 100%;
    max-width: calc(100% - 30px);
}
.fave-icon {
    display: block;
    width: 25px;
    height: 25px;
    background: transparent url(../images/fave-outline.svg) no-repeat 50% 50% / cover;
}
.fave-icon.liked {
    background-image: url(../images/fave-filled.svg);
}
.rating-value {
    text-transform: uppercase;
}
.embed-url {
    font-size: .85em;
}
#show-more {
    display: none;
    margin-bottom: 30px;
    padding-top: 30px;
    border-top: 1px dotted #ccc;
}
#show-more button {
    min-width: 250px;
}


/* ----------------------------------------------------------------------------
    Page Media Queries
----------------------------------------------------------------------------- */
@media (min-width: 576px) {
    .container-fluid.but-fixed {
        padding-left: 30px;
        padding-right: 30px;
    }
    .card-columns {
        column-count: 2;
    }
    .card-deck .card {
        max-width: calc(50% - 30px);
    }

}
@media (min-width: 768px) {
    .navbar {
        flex-flow: row nowrap; !important;
    }
    form.add-button input {
        width: calc(65% - 10px) !important;
    }
    form.add-button {
        justify-content: flex-end !important;
    }
    .card-columns {
        column-count: 3;
    }
    .card-deck .card {
        max-width: calc(33.333333% - 30px);
    }

}
@media (min-width: 992px) {
    .navbar-brand {
        margin: 0 15px;
    }
    .powered-by {
        display: inline-block;
        margin-left: auto;
    }
    form.add-button {
        padding: 0 20px;
        width: 100%;
        justify-content: center !important;
    }
    form.add-button input {
        width: calc(70% - 5px) !important;
    }
    .card-columns {
        column-count: 4;
    }
    .card-deck .card {
        max-width: calc(25% - 30px);
    }

}
@media (min-width: 1200px) {

}
